<body>
    <h1>User Registration</h1>

    {% if messages %}
        {% for message in  messages %}
        <p style="color: red;">{{message}}</p>

        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="fname" >First Name</label>
        <input type="text" name="first_name">
        <label for="lname">Last Name</label>
        <input type="text" name="last_name">
        <label for="email">Email</label>
        <input type="email" name="userEmail">
        <label for="username">Username</label>
        <input type="text" name="userId">
        <label for="phone">Phone Number</label>
        <input type="text" name="phoneNo">
        <label for="pass1">Password</label>
        <input type="password"  name="password">
        <label for="pass2"> Confirm Password</label>
        <input type="password" name="confirm_password">
        <button type="submit">Submit</button>
            
    </form>
</body>